header {
    // visibility: hidden;
    .menu-btn {
        padding: 1em;
        position: absolute;
        top: 0.5em;
        right: 1em;
        z-index: 6;
        cursor: pointer;
        .hamburger,
        .hamburger::before,
        .hamburger::after {
            content: "";
            display: block;
            background: #111;
            height: 2px;
            width: 1.75em;
            border-radius: 3px;
            @include easeOut;
        }
        .hamburger::before {
            transform: translateY(-6px);
        }
        .hamburger::after {
            transform: translateY(4px);
        }
    }
    .openIt {
        .hamburger {
            transform: rotate(45deg);
        }
        .hamburger::before {
            opacity: 0;
        }
        .hamburger::after {
            transform: translateY(-2px) rotate(-90deg);
        }
    }
    .menu {
        position: fixed;
        top: 0;
        width: 100%;
        opacity: 0.9;
        visibility: hidden;
        z-index: 4;
        &.show {
            visibility: visible;
        }
        &-branding,
        #other {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            float: left;
            width: 50%;
            height: 100vh;
            overflow: hidden;
        }

        #other {
            margin: 0;
            padding: 0;
            background: darken($tonyRed, 5);
            transform: translate3d(0, -100%, 0);
            @include easeOut;
            z-index: 8;
            &.show {
                @include trans3D-0;
            }
            @include delayLoop;
            .nav-item {
                transform: translate3d(600px, 0, 0);
                padding: 0 10px;
                @include easeOut;
                &.show {
                  @include trans3D-0;
                }
                .current {
                  color: yellow;
                }
                .nav-link {
                  display: inline-block;
                  cursor: pointer;
                  font-size: 30px;
                  text-transform: uppercase;
                  padding: 1rem 0;
                  font-weight: 100;
                  @include easeOut;
                  &:hover {
                    color: yellow;
                  }
                }
            }
        }


        &-branding {
            background: $tonyRed;
            transform: translate3d(0, 100%, 0);
            @include easeOut;

            .portrait {
                width: 250px;
                height: 250px;
                background: url("/img/meportrait.jpg");
                background-size: 40px;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: center;
                transform: rotate(270deg);
                border-radius: 50%;
                border: 4px solid yellow;
            }
            &.show {
                transform: translate3d(0, 0, 0);
            }
        }
    }
}
