header {
    // visibility: hidden;
    .menu-btn {
        padding: 1em;
        position: absolute;
        top: 0.5em;
        right: 1em;
        z-index: 6;
        cursor: pointer;
        .hamburger,
        .hamburger::before,
        .hamburger::after {
            content: "";
            display: block;
            background: #111;
            height: 2px;
            width: 1.75em;
            border-radius: 3px;
            @include easeOut;

        }
        .hamburger::before {
            transform: translateY(-6px);
        }
        .hamburger::after {
            transform: translatey(4px);
        }
    }
    .openIt {
        .hamburger {
            transform: rotate(45deg);
        }
        .hamburger::before {
            opacity: 0;
        }
        .hamburger::after {
            transform: translateY(-2px) rotate(-90deg);
        }
    }
    .menu {
      position: fixed;
      top: 0;
      width: 100%;
      opacity: 0.9;
      visibility: hidden;
      z-index: 4;
      &.show {
        visibility: visible;
      }
      &-branding,
      #other {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
      }

      #other {
        margin: 0;
        padding: 0;
        background: darken($tonyRed, 5);
        transform: translate3d(0, -100%, 0);
        @include easeOut;
        z-index: 8;

        &.show {
          transform: translate3d(0, 0, 0);
        }
      }
      .menu-nav {
        padding: 20px;
        .nav-item {
          padding: 0 10px;
          .nav-link {
            cursor: pointer;
          }
        }
      }
    }
  }
