// Widescreen
/* min-width: 1171px */
@include mediaXl {
}
// Desktops & laptops
/* min-width: 769px and max-width: 1170px */
@include mediaLg {
}
// Tablets & Small laptops
/* max-width: 768px */
@include mediaMd {
    .myContainer {
        width: 100%;
    }
    // Menu section ########
    div.menu-branding,
    ul.other {
      float: none;
      width: 100%;
    }
    .menu-branding {
      height: 25vh;
    }
    // Menu section ends ########
    // Home section ########
    .home {
      height: 130vh;
        .info-box {
          bottom: 150px;
        }
    }
    // Home section ends ########
    // Skills section ########
    .skill-container {
        .lmnop {
            align-items: center;
            text-align: center;
        }

        .wrapper {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: minmax(60px, auto);
            grid-gap: 10px;
            max-width: 600px;
            margin: 0 auto;
        }
        @for $y from 1 through 12 {
            .tradeLogo:nth-child(#{$y}) {
                text-align: left;
            }
        }
    }
    // Skills section ends ########
    // projects section ########
    #portfolio-section {
        .portfolio-container {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(8, [col-start] 150px [col-end]);
            .image1 {
                grid-column: 1 / 2;
                grid-row: 1 / 3;
            }
            .image2 {
                grid-column: 2 / 3;
                grid-row: 1 / 3;
            }
            .image3 {
                grid-column: 1 / 2;
                grid-row: 3 / 5;
            }
            .image4 {
                grid-column: 2 / 3;
                grid-row: 3 / 5;
            }
            .image5 {
                grid-column: 1 / 2;
                grid-row: 5 / 7;
            }
            .image6 {
                grid-column: 2 / 3;
                grid-row: 5 / 7;
            }
            .image7 {
                grid-column: 1 / 4;
                grid-row: 7 / 9;
            }
        }
    }
    // projects section ########
    // Experience section ########
    #experience {
        .exp-title {
            font-size: 3.2rem;
            text-align: center;
        }

        .experience-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;

            .shapeIcons {
                position: relative;
                top: -53px;
                left: -20px;

                .expSquare {
                    border: 20px solid #52b8ff;
                    padding: 5px;
                    display: inline-block;
                    position: relative;
                    top: 121px;
                    left: 96px;
                }

                .awaCircle {
                    border: 20px solid #ffc853;
                    padding: 5px;
                    display: inline-block;
                    border-radius: 50%;
                    position: relative;
                    top: 97px;
                    left: 95px;
                }
            }
        }
    }
}
// Smartphones
/* max-width: 500px */
@include mediaSm {
    // Home section ########
    .home {
      display: block;
      overflow-x: hidden;
      .info-section {
        padding: 30px 15px;
        .info-box {
          display: none;
        }
      }
      .wrap {
        min-height: calc(100vh - 70px);
        padding-bottom: 50px;
      .content-area {
        padding: 0 10%;
        .profile-section {
          text-align: center;
          width: 300px;
          .profile {
            .primary-btn {
              margin: 0 0 7px;
            }
            .ghost-btn {
              margin: 7px 0 0;
            }
          }
        }
      }
    }
      .footer-block {
        display: block;
      }
    }
    // Home section ends ########
    // projects section ########
    #portfolio-section {
        .portfolio-container {
            .image1 {
                grid-column: 1 / 4;
                grid-row: 1 / 2;
            }
            .image2 {
                grid-column: 1 / 4;
                grid-row: 2 / 3;
            }
            .image3 {
                grid-column: 1 / 4;
                grid-row: 3 / 4;
            }
            .image4 {
                grid-column: 1 / 4;
                grid-row: 4 / 5;
            }
            .image5 {
                grid-column: 1 / 4;
                grid-row: 5 / 6;
            }
            .image6 {
                grid-column: 1 / 4;
                grid-row: 6 / 7;
            }
            .image7 {
                grid-column: 1 / 4;
                grid-row: 7 / 8;
            }
        }
    }
    // projects section ########
    // Experience section ########
    #experience {
        .exp-title {
            font-size: 2.6rem;
            text-align: center;
        }

        .experience-container {
            display: grid;
            grid-template-columns: 100%;
            grid-gap: 20px;

            .shapeIcons {
                display: none;
            }
        }
    }
    // Experience section ends ########
    // Bio section ########
    #bio {
        .bio-container {
            display: grid;
            grid-template-columns: 100%;
            grid-gap: 20px;
            .image-holder {
              margin: 55px 0 0 5px;
            }
        }
    }
    // Bio section ends ########
}
