@import "mixins/reset";
@import "mixins/mixins";
@import "mixins/grid12";
@import "mixins/variables";
@import "variables";
@import "home";
@import "nav";
@import "header";
@import "footer";
@import "bio";
@import "skills";
@import "projects2";
@import "portfolio-projects";
@import "mediaQueries";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: #fff;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  .wrapper1 {
    min-height: calc(100vh - 70px);
    padding-bottom: 50px;
  }
}



.myContainer {
  padding-top: 80px;
  max-width: 1150px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $logoBlack;
}

.primary-btn {
  background: blue;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin-right: 15px;
  padding: 15px 30px;

  .project-anchor {
    color: #fff;
  }
}

.ghost-btn {
  border: 3px solid #202020;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  color: #202020;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 12px 27px;
}
