// project specific variables
$show-home-image: true;
$section: #home;
$home-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MjEu%0D%0AMzMgNzY5Ij48ZyBkYXRhLW5hbWU9IkxheWVyIDIiPjxwYXRoIGQ9Ik0uNS41aDYyMGEyNDQyIDI0%0D%0ANDIgMCAwIDAtMjUzIDc2OEguNXoiIGZpbGw9IiM1MmI4ZmYiIHN0cm9rZT0iIzUyYjhmZiIgc3Ry%0D%0Ab2tlLW1pdGVybGltaXQ9IjEwIiBkYXRhLW5hbWU9IkxheWVyIDEiLz48L2c+PC9zdmc+");
$background-opacity: 0.9;
// Store Colors
$tonyRed: #fd3253;
$the-red: #d13328;
$logoBlack: #1b1d24;
// More stuff
$lightPurple: #302d43;
$darkPurple: #282639;
$neonGreen: #92cf48;
$lightGreyBG: #f4f6f9;
$darkGreyBG: #eaedf3;
$darkGreyFont: #6c7882;
$lightGreyFont: #bbc1cd;
$lightGreyFont2: #a5adbd;
$naranga: #f48320;
$purple: #744bce;
$light-text: #a5aebc;
$that-red: #d13328;
$verde: #7dcf85;
$our-grey: #7f7f7f;
$main-text: #31353d; // main text
$link: #435779; // anchor tags
$background: #eeeff7; // background color
$header-bg: #31353d;

$border: #e0e6ef;
$light-text: #a5aebc;
$green: #7dcf85;
$shadow-layer-bg: rgba(#435779, 0.6);

// Bootstrap Colors
$BSdanger: #d9534f;
$BSprimary: #5bc0de;
$BSsuccess: #5cb85c;
$BSinfo: #428bca;
$BSblanco: #f9f9f9;
